
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.nav-menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:60px;
}
.nav-link{
    transition: 0.7s ease ;
    color: white;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-link:hover{
    color: white;
    border: #fff solid 2px ;
    padding: 5px 20px;
    border-radius: 5px;
}
.topContainer{
    background-color: #263238;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.navContainer h2{
    color: white;
    border: #fff solid 2px;
    padding: 6px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.4s ease-in-out;
}

a:hover{
    color: #FFF;

}
.nav-menu{
    list-style: none;
    display: flex;
    gap:20px;
}
header{
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #263238;
}
header h2{
    font-weight: 400;
}
header h3{
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}
.name{
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;

  
}
.downloadResume{
    margin-top: 40px;
    border:2px solid #fff;
    padding: 10px 20px;
    background-color: #263238;
    color: white;
    border-radius: 5px;
    transition: 0.4s ease-in-out;

}
header button:hover{
    background-color: white;
    color: #263238;
}
.socialIcons{
    margin-top: 150px;
    display: flex;
    gap: 40px;
    transition: 0.3s;
}
.socialIcons a:hover{
    transform: scale(1.2);
    opacity: 50%;
}
.aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.aboutSection h2{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
  
}
article{
    text-align: center;
    margin-top: 40px;
    line-height: 2;
}
hr{
    width: 100px;
    justify-content: center;
    margin: 100px auto;
}
.projectSection{
    margin-top: 100px;
    text-align: center;
}
.projectSection h2{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;

    padding:5px 20px;
    border-radius: 10px;
}
.projectSection a img{
    margin-top: 40px;
    border: #263238 solid 2px;
    height: 200px;
    width: 350px;
    transition: 0.4s;
}
.projectSection a img:hover {
    transform: scale(1.1);

}
.contactFormContainer{
    text-align: center;
    padding:40px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contactFormContainer h2{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
}

label{
    color: #263238;
    text-align: left;
}
.row{
    margin-top: 20px;
}

.contactFormContainer button{
    background-color: #263238;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}
form{
    text-align: start;
}
footer{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    background-color: #263238;
    padding:40px;
}






@media  screen and (max-width: 768px) {

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg)
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }

    .nav-menu{
        position:absolute;
        left: -100%;
        top: 40px;
        gap: 0;
        flex-direction: column;
        background-color:#263238;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .navContainer{
        display: flex;
    }
    .navContainer h2{
        display: none;
    }


    .nav-item{
        margin: 16px 0 ;
    }

    .nav-menu.active{
        margin-bottom: 100px;
        padding: 0;
        left: 0;
    }
    
}